/* importation de la police 'Poppins' de Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

#avatar{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100%;
    border: black solid 2px;
}

.avatar{
    display: flex;
    flex-direction: row;
    gap: 18px;
    align-items: center;
}

header{ 
    background-image: url('C:\Users\Administrateur\Documents\GitHub\linabtkk.github.io\assets\white_fade_background3.jpg');
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    filter: blur(0.5px);
    background-size: cover;
    background-position: center;
    padding: 200px;
    gap: 100px;
}

#principal_title{
    font-size: 50px;
    align-items: baseline;
    display: inline-block;
    text-align: center;
}
 
ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0;
    color: black;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    object-fit: cover;
    gap: 200px;
    width: 100%;
    margin: none;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 60px 16px rgba(0,0,0,0.1);
    padding-left: 5px;
    padding-right: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;  
}

.logo{
    display: flex;
    justify-content: space-between;
}

#mitch_nav{
 margin: 15px;
}

.card {
   width: 30%; 
   height: auto; 
   display: flex;
   margin-bottom: 20px;
   flex-direction: column; 
   align-items: stretch; 
   border-radius: 16px;
   overflow: hidden;
   background-color: white;
   box-shadow: 0px 0px 60px 16px rgba(0,0,0,0.1);
}

.card-container{
    padding: 0 20px 20px;
    flex: 1;
}

 #image{
    width: 300px;
    height: auto;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
    gap:8px;
    align-items: center;
    object-fit: cover;
}

#cards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    border-radius: 10px;
}

.title-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

h1{
    margin: 60px 0 60px 0;
    color: #565959;
    text-align: center;
}

h3{
    color:#636169;
    font-size: small;
}

p{
    display: block;
    text-align: center;
}

.button.primary{
    background: #565959;
    color: rgb(0, 0, 0);
    border: 2px solid #565959;
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 250px;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

a:hover{
    color: rgb(255, 0, 0);
}

.buttons {
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s; 
    background: #565959;
    color: rgb(0, 0, 0);
    border: 2px solid #565959;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto; 
}

.buttons:hover {
   transform: scale(0.9); 
}

.fixed-whatsapp{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#2fba36;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #13a018;
    z-index:100;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 27px;
}

.card_review{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 100px 33px rgba(0,0,0,0.1);
    gap: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s; 
    border-radius: 30px;
}

.card_review:hover {
    transform: scale(1.2); 
}

.fa-solid .fa-car{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    size-adjust: 300px;
}

#avatar_avis{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
    border: black solid 2px;
}

footer{
    margin: 80px 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.53);
}

.review{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    padding: 10px;
}

#review_section{
    font-family: "Roboto";
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:45px;
    margin: 45px;
    box-shadow: 0px 0px 100px 67px rgba(255, 255, 255, 0.1);
}

.paragraphe{
   max-width: 200px;
}

#valeurs_mod{
  display: flex;
  justify-content: center;
  flex-direction: row;  
}

.valeurs_review{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fa-solid{
    display: flex;
    text-align: center;
}

.valeurs_review i{
    font-size: 75px;
}

h4{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#contact {
    width: 80%;
    margin: 0 auto;
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    border: 10px solid #ccc;
}
  
form {
    width: 100%;
}
  
.div_contact,
.div_prénom,
.div_mail,
.div_msg {
    margin-bottom: 20px; 
}
  
.contact_button{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.label {
    display: inline-block;
    width: 120px;
}
  
.input {
    width: calc(100% - 140px);
}
  
textarea {
    width: calc(100% - 140px);
    height: 100px;
}
  